/* font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');
/* style */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lexend', sans-serif;
}

.container-navbar {
    width: 100%;
    height: 75px;
    background-color: white;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgb(152, 143, 143) ;
}

.logo span {
    background-color: aqua;
    margin-left: 50px;
    font-weight: 500;
    font-size: 25px;
    line-height: 50px;
}

.item-list ul {
    display: flex;
    width: 40%;
    justify-content: space-between;
    list-style: none;
    margin-right: 30px;
}

.item-list ul li {
    margin-right: 20px;
}

.item-list ul li a {
    color: #000;
    text-decoration: none;
}

.item-list ul li .btn{
    padding: 10px;
    color: #000;
    background-color: #D9D9D9;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 11px;
}

.container-landing-page {
    height: 5000px;
}

.container-landing-page {
    width: 1533px;
    height: 737px;
    background-color: aquamarine;
    display: flex;
    justify-content: flex-start;
}